<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Admin</title>

        <!-- STYLE -->
		<link rel="stylesheet" href="/style/style.css">

		<!-- ICONS -->
		<script src="https://kit.fontawesome.com/e3c043e1c5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
		
		<!-- JQUERY -->
		<script src="https://code.jquery.com/jquery-3.6.0.js"integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>

		<!-- FAVICON -->
		<link rel="icon" type="image/x-icon" href="images/favicon.png">
	</head>
	<body>
		<div class="wrapper">
			<!-- HEADER -->
			<%- include('../components/header') -%>

			<!-- PAGE -->
			
			<div class="main-container">
				<div class="container">
					Admin
				</div>
			</div>

			<script src="/js/app.js"></script>
		</div>
	</body>
</html>