<div class="footer">
    <div class="container flex column gap-2">
        <div class="flex justify-between align-items-start gap-2 pt-2 pb-2">
            <div class="flex column gap-2">
                <span class="font-10 text-bold">Auth</span>
            </div>
            <div class="flex column gap-2">
                <span class="font-8 text-semibold">Useful Links</span>
                <div class="flex column gap-2">
                    <a class="link" href="">About Us</a>
                    <a class="link" href="">Contact</a>
                </div>
            </div>
            <div class="flex column gap-2">
                <span class="font-8 text-semibold">Support</span>
                <div class="flex column gap-2">
                    <a class="link" href="">Terms & Conditions</a>
                    <a class="link" href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
        <div class="flex justify-between gap-2 font-7 text-semibold bt-2 pt-2 pb-2">
            <span><span class="text-primary">Auth</span> © All rights reserved – 2024-2024. </span>
            <span class="text-primary">Designed by CristiBRO</span>
        </div>
    </div>
</div>
