<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Oops! Page Not Found</title>

        <!-- STYLE -->
		<link rel="stylesheet" href="/style/style.css">

		<!-- ICONS -->
		<script src="https://kit.fontawesome.com/e3c043e1c5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
		
		<!-- JQUERY -->
		<script src="https://code.jquery.com/jquery-3.6.0.js"integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>

		<!-- FAVICON -->
		<link rel="icon" type="image/x-icon" href="images/favicon.png">
	</head>
	<body>
		<!-- PAGE -->
		
		<div class="main-container height-full">
			<div class="container align-center-1">
				<div class="card medium">
                    <div class="flex column align-items-center gap-2">
                        <div class="text-bold text-center font-10">Oops! Page Not Found</div>
                        <div class="flex column align-items-center gap-1">
                            <span class="font-7 text-semibold">We're sorry, but the page you're looking for cannot be found.</span>
                            <span class="font-7 text-semibold">It might have been moved, deleted, or the URL might be incorrect.</span>
                            <span class="font-7 text-semibold">Please go to the Home Page to continue browsing.</span>
                            <span class="font-7 text-semibold">Thank you for your understanding.</span>
                        </div>
                        <a href="/" class="btn btn-primary">Go Home</a>
                    </div>
                </div>
			</div>
		</div>
	</body>
</html>